.cat {
	width: 30%;
}
.goods-store{
	
}
.goods-store-logo {
	float:left;
}
.goods-store-logo-image {
  width: 125px;
  height: 125px;
  border-radius: 25%;
  padding: 20px;
}
.goods-store-logo-text {
  padding-left: 3px;
  padding-top: 30px;
  float:left;
  font-size: 13px;
  font-weight: bold;
  color:white;
}

.goods-store-logo-button {
  padding-top: 35px;
  padding-right: 5px;
  float:right;
}

.goods-item-info {
  overflow: hidden;
  padding-left: 10px;
  padding-bottom: 10px;
}
.goods-item-title {
  width: 200px;
  padding-left: 8px;
  font-size: 13px;
  word-wrap:break-word
}
.goods-item-spec {
  display:inline;
  margin-top: 10px;
  color: #ff6600;
}
.goods-item-price {
  float: left;
  padding-left: 10px;
  width: 120px;
  color: #ff6600;
  font-size: 13px;
  font-weight: bold;
}

.goods-item {
  width: 99.8%;
  background-color: #F2F2F2;
  margin: 5px;
}

.goods-buttom {
  padding-bottom: 50px;
}

.goods-detail-picker-header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
}
.goods-detail-picker-header-img {
  float: left;
}
.goods-detail-picker-header-info {
  overflow: hidden;
  padding-left: 10px;
}
.goods-detail-picker-header-title {
  font-weight: bold;
}
.goods-detail-picker-header-price {
  color: #ff6600;
  font-size: 16px;
  padding-top: 5px;
  font-weight: bold;
}
.goods-detail-picker-header-price .pre {
  color: #b5b5b5;
  font-size: 14px;
  text-decoration: line-through;
  margin-left: 15px;
}

.goods-detail-picker {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding-left: 10px;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: detail-slideInUp;
  height: 400px;
  overflow:auto;
}

.goods-detail-pickers {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding-left: 10px;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: detail-slideInUp;
}

.goods-detail-picker-close {
  font-size: 24px;
  color: #bbb;
  position: absolute;
  display: block;
  top: 5px;
  right: 10px;
}

.goods-detail-picker-overlay {
  overflow: hidden;
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.goods-detail-picker-spec {
  /*margin-bottom: 5px;*/
  margin-bottom: 5px;
  overflow-y: scroll;
  overflow-x: scroll;
  width: 350px;
  height: 180px;
}
.goods-detail-picker-spec-name {
  padding-top: 5px;
  padding-bottom: 5px;
}
.goods-detail-picker-spec-value {
  border: 1px solid #959595;
  float: left;
  padding: 4px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}
.goods-detail-picker-spec-value.active {
  color: white;
  background-color: #eb544d;
  border-color: #eb544d;
}

.goods-detail-picker-amount {
  border-top: 1px solid #f2f2f2;
  padding: 10px;
}
.goods-detail-picker-amount .input-group {
  float: right;
  width: 50%;
}
.goods-detail-picker-amount .input-group .btn {
  padding-left: 15px;
  padding-right: 15px;
  outline: 0;
}
.goods-detail-picker-amount .input-group .form-control {
  text-align: center;
}
.goods-detail-picker-amount .input-group .form-control[readonly] {
  background-color: white;
}
.goods-detail-picker-amount-key {
  display: inline-block;
  padding-top: 5px;
}
.goods-detail-picker-next {
  padding: 10px;
  text-align: center;
  color: white;
  background-color: #eb544d;
  margin-left: -10px;
}

.goods-settle {
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  border-top: 1px solid #ddd;
}
.goods-settle-price {
  color: #ff6600;
}
.goods-settle-info {
  color: #aaa;
}
.goods-settle-go {
  background-color: #ec534d;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 7em;
}
.goods-settle-go > span {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  text-align: center;
  height: 1em;
  line-height: 1em;
  margin: auto;
}

.goodscart-items {
  background-color: white;
}

.goods-item-img {
  float: left;
}

*{
  padding: 0;
  margin-bottom: 0;
}
.header{
  width: 100%;
  height: 120px;
  position:fixed;
  top: 0px;
}
.swiper-container-ul{
  list-style: none;
  overflow: hidden;
  width: 100%;
  background: #fff;
  top: 0px;
}
.swiper-container-ul-li{
  width: 50%;
  height: 40px;
  line-height: 40px;
  float: left;
  text-align: center;
}
.activess{
  border-bottom: 1px solid #3190e8;
  color: #eee;
}
.content{
  width: 100%;
  overflow: hidden;
}
.goodsleft{
  padding-top: 125px;
  float: left;
  width: 25%;
  height: 100%;
}
.goodsleft ul{
  list-style: none;
}
.goodsleft ul li{
  padding: 15px 5px;
  text-align: center;
}
.activee{
  background: #fff;
  border-left: 2px solid orangered;
}
.goodsright{
  padding-top: 125px;
  float: left;
  width: 75%;
  height: 100%;
}
.goodsright ul{
  list-style: none;
}
.class-title{
  padding: 7px 10px;
  background: #eee;
}
.item{
  overflow: hidden;
  width: 100%;
  padding: 10px;
  background: #fff;
  border-bottom: 1px solid #eee;
}
.item-left{
  float: left;
}
.item-right{
  float: left;
  padding: 0 10px;
}
.goods-item-img{
  width: 100px;
  height: 100px;
  background: #eee;
}

.list-item-title{
  width: 120px;
  height: 20px;
  margin-top: 10px;
/*  background: #eee;*/
}
.goods-item-subtitle{
  width: 100px;
  height: 20px;
  margin-top: 10px;
  color: orangered;
  font-weight: bold;
/*  background: #eee;*/
}
.list-item-price{
  width: 80px;
  height: 20px;
  margin-top: 10px;
  color: orangered;
  font-weight: bold;
/*  background: #eee;*/
}
.goods-class-title{
	text-align: center;
}
