.swiper-container-ul{
  list-style: none;
  overflow: hidden;
  width: 100%;
  background: #fff;
  top: 0;
}
.swiper-container-ul-li{
  list-style-type: none;
  width: 50%;
  height: 40px;
  line-height: 40px;
  float: left;
  text-align: center;
}
.activess{
  border-bottom: 1px solid #3190e8;
  color: #3190e8;
}

.payments {
  background-color: white;
}
.payments .count-down {
  text-align: left;
  color: grey;
  font-size: 15px;
}
.payment-countdowns {
  width: 100%;
  background-color: white;
  padding-bottom: 50px;
  /*border-bottom: 1px solid #ddd;*/
}
.payment-countdown-titles {
  padding: 15px;
  font-size: 16px;
  width: 100%;
  text-align: left;
  color: #000000;
}
.payment-countdown-reminds {
  color: #C2C2C2;
  padding: 15px;
  font-size: 15px;
  width: 100%;
  text-align: left;
}

.payment-countdown-moneys {
  padding: 15px;
  font-size: 15px;
  width: 100%;
  text-align: left;
}

.payment-infos {
  width: 100%;
  background-color: white;
}

.payment-info-methods {
	padding: 10px;
/*  border-bottom: 1px solid #ddd;*/
}
.payment-info-methods .red {
  color: red;
}
.payment-info-method-texts {
  font-size: 15px;
  margin-left: 10px;
}
.payment-info-method-images {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.foodpay-detail-sales{
  background-color: white;
  padding: 10px 15px;
  position: relative;
  margin-bottom: 15px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}
.foodpay-detail-sales:before,
.foodpay-detail-sales:after {
  content: "";
  display: table;
}
.foodpay-detail-sales:after {
  clear: both;
}
.foodpay-detail-sales:hover,
.foodpay-detail-sales:active {
  background-color: white;
}
.foodpay-detail-sales .none {
  display: none;
}
.foodpay-detail-sales-top {
  margin-bottom: 10px;
}
.foodpay-detail-sales-tag {
  color: #FF2C29;
  border: 1px solid #FFC1BF;
  padding: 5px 10px;
  border-radius: 5px;
}
.foodpay-detail-sales-text {
  margin-left: 5px;
}
.foodpay-detail-sales-icon {
  color: #999;
  float: right;
  margin-right: 5px;
}
.foodpay-detail-sales-item {
  padding: 5px 0px;
  border-bottom: 1px solid #f2f2f2;
}