.recharge-list {
  padding-top: 15px;
  padding-bottom: 55px;
}

.recharge-list-item {
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.recharge-list-item:first-child {
  border-top: 1px solid #e5e5e5;
}

.recharge-list-point{
  margin-right: 5px;
}
.recharge-list-value {
  font-size: 18px;
  color: #27AE60;
}

.recharge-list-time {
  color: #999;
  display: inline-block;
}

.recharge-list-balance {
  display: block;
  float: right;
}

.recharge-list-back{
    position: fixed;
    padding: 10px;
    background-color: #FF3300;
    color: white;
    text-align: center;
    left: 5%;
    right: 0;
    width: 90%;
    z-index: 999;
    bottom: 60px;
    border-radius : 15px;
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      color: white;
    }
}