.login{
  background-color: #D1EEEE;
  &-title{
    text-align: center;
    font-size: 40px;
}
  &-css{
    margin-top: 130px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  &-cs{
    margin-top: 20px;
    text-align: center;  
  }
  &-wb{
    margin-top: 285px;
    font-size:15px;
    text-align: center;  
  }
}
